@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    margin: 0;
    font-family: 'Poiret One', cursive;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 3%;
    background: #1c1c1c;
    color: #fff;
}

label {
    margin: 0.5rem;
    font-size: 1.2rem;
    display: block;
}

input {
    text-align: center;
    border: solid 0.1rem lightgrey ;
}

a {
    padding: 0.4rem;
    margin: 4rem;
    text-decoration: none;
    color: #a52a2a;
    font-size: 1.2rem;
    border: #a52a2a 1px solid;
}

form {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;
}

.form {
    padding: 2%;
}

h3 {
    text-align: center;
}

.submit {
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
    margin: 1.5rem;
    padding: 0.5rem;
    color: #ffffff;
    background: #1c1c1c;
    border-style: none;
}

.container {
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-evenly;*/
}

.artworks {
    padding: 2%;
    text-align: center;
}

.warning {
    color: #ff0000;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 750px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}